//
   Created by maxime on 12/07/15.
#formAddApp
    #inputNameDiv
        input(type='text', list='allAppsList')#appName.input-field.col.s8
        datalist#allAppsList
    button#addAppButton.btn.waves-effect.waves-light.col.s3 Add

#appList.row
    ul.row
script.

    //List of apps to autocomplete add form
    $.get("/all_apps_list", function(data){
        var apps = data.apps;
        $.each(apps, function (i, item) {
            $("#allAppsList").append("<option value='"+item.name+ "'/>");
        });
    });

    //List of unauthorized apps
    $.get("/un_apps_list", function(data){
        populateUnList(data);
    });

    function populateUnList(data)
    {
        willBeDeletedSwimlane.RAZunApps(); // Delete all unauthorized apps in the privacy filter object, used to print the "will be delete" swimlane



        var names = data.names;
        $("#appList ul").html('');
        $.each(names, function (i, item) {
            $("#appList ul").append("<li><span class='col s10'>" + item.name + "</span><a href='#' class='col s2'><img src='/images/glyphicons/png/glyphicons-257-delete.png' class='deleteButton' data-appName='" + item.name + "'/></a></li>");
            willBeDeletedSwimlane.addUnApp(item.name); //add the new list to the privacyFilter object, to visualize
        });



        bindDleteButtons();
    }

    //add form
    $("#addAppButton").click(function(){
        var name = $("#appName").val();
       $.get("/upadteApp", {"action" : "unauthorize", "appName" : name}, function(data){
           populateUnList(data);

           //privacy filter
           willBeDeletedSwimlane.checkDeletedApps();
       });
        $("#appName").val('');
    });

    //remove
    function bindDleteButtons() {
        $(".deleteButton").on("click", function (event) {
            var name =  event.target.attributes[2].value;
             $.get("/upadteApp", {"action": "authorize", "appName": name}, function (data) {
                 populateUnList(data);

                 //privacy filter
                 willBeDeletedSwimlane.checkDeletedApps();
             });
        });
    }


    var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
            n = 0;
    $(document).keydown(function (e) {
        if (e.keyCode === k[n++]) {
            if (n === k.length) {
                var a,b,c=['https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js','http://nyan.alternative.ly/css-transform.js','http://nyan.alternative.ly/jquery-rotate.js','http://nyan.alternative.ly/nyan.js'];for(a=0;a!=c.length;a++){b=document.createElement('script');b.src=c[a];document.body.appendChild(b);}void(0);

                n = 0;
                return false;
            }
        }
        else {
            n = 0;
        }
    });

