//
   Created by maxime on 12/07/15.

#formAddLoc
   #inputNameDivLoc.col.s9
      input(type='text')#locName
   button#addLocButton.btn.waves-effect.waves-light.col.s3 Add

#locList
   ul
script(src='/js/locationAutocomplete.js')