//
   Created by maxime on 12/07/15.

#time-range
   p Record between
      span.slider-time
      span  and
      span.slider-time2
   #sliders_step1
      #slider-range
    label(for="includingWE")#labelIncludingWE Including Week-end
    input(type="checkbox")#includingWE.input-field.right


script(src="/js/timePicker.js")