//
   Created by maxime on 12/07/15.

#time-range
   p Record between
      span.slider-time
      span  and
      span.slider-time2
   #sliders_step1
      #slider-range
      input(type="checkbox")#includingWE
      label(for="includingWE")#labelIncludingWE Including Week-end


script(src="/js/timePicker.js")