//
   Created by maxime on 11/07/15.

block accordion
    #accordion.row
        ul.collapsible.popout(data-collapsible="accordion")
            li
                div.collapsible-header Applications Filter
                    i.material-icons.tiny view_list
                div.collapsible-body
                    ul#appsFilter
            li
                div.collapsible-header Locations Filter
                    i.material-icons.tiny location_on
                div.collapsible-body
                    ul#locationFilter
            li
                div.collapsible-header Time Filter
                    i.material-icons.tiny av_timer
                div.collapsible-body
                    div.switch
                        label Print unauthorized times
                            input#timeFilter.filter.time(type='checkbox')
                            span.lever
            li.divider
            li
                div.collapsible-header Unauthorized applications
                    i.material-icons.tiny not_interested
                div.collapsible-body
                    include accordion_content/apps
            li
                div.collapsible-header Authorized times
                    i.material-icons.tiny query_builder
                div.collapsible-body
                    include accordion_content/times
            li
                div.collapsible-header Authorized locations
                    i.material-icons.tiny my_location
                div.collapsible-body
                    include accordion_content/location
