doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/accordion_app.css')
    link(rel='stylesheet', href='/css/jquery.tagsinput.css')
    link(rel='stylesheet', href='/css/time-picker.css')
    link(rel='stylesheet', href='/css/accordion_times.css')
    link(rel='stylesheet', href='/css/accordion_location.css')
    script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
    script(src='/js/jquery.geocomplete.js')


  body
    block content
