doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/accordion_app.css')
    link(rel='stylesheet', href='/css/jquery.tagsinput.css')
    link(rel='stylesheet', href='/css/time-picker.css')
    link(rel='stylesheet', href='/css/accordion_times.css')
    link(rel='stylesheet', href='/css/accordion_location.css')
    link(rel='stylesheet', href='/css/viewer.css')
    link(rel='stylesheet', href='/css/Legend.css')
    script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
    script(src='/js/jquery.geocomplete.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js')
    script(src='/js/d3_smallSlider.js')
    script(src='/js/d3_bigSlider.js')
    script(src='/js/d3_screenshot.js')
    script(src = '/js/Legend.js')
    script(src ='/js/willBeDeletedSwimlane.js')
    script(src='/js/appsSwimlane.js')
    script(src='/js/viewerIniatializer.js')
    script(src='/js/appsFilter.js')
    script(src='/js/locationFilter.js')
    script(src='/js/locationSwimlane.js')
    script(src='/js/d3_timeSwimlane.js')
    script(src='/js/timeFilter.js')

  body
    block content
