doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/accordion_app.css')
    link(rel='stylesheet', href='/css/jquery.tagsinput.css')
    link(rel='stylesheet', href='/css/time-picker.css')
    link(rel='stylesheet', href='/css/accordion_times.css')
    link(rel='stylesheet', href='/css/accordion_location.css')
    link(rel='stylesheet', href='/css/viewer.css')
    link(rel='stylesheet', href='/css/Legend.css')
    link(rel='stylesheet', href='/css/materialize.css')
    link(rel='stylesheet', href='/css/fontMaterialIcon.css')


    script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
    script(src='/js/libs/jquery-2.1.4.min.js')
    script(src='/js/libs/jquery-ui.min.js')
    script(src='/js/jquery.geocomplete.js')
    script(src='/js/libs/d3.min.js')
    script(src='/js/ActivityManager.js')
    script(src='/js/d3_smallSlider.js')
    script(src='/js/d3_bigSlider.js')
    script(src='/js/d3_screenshot.js')
    script(src = '/js/Legend.js')
    script(src ='/js/willBeDeletedSwimlane.js')
    script(src='/js/appsSwimlane.js')
    script(src='/js/viewerIniatializer.js')
    script(src='/js/appsFilter.js')
    script(src='/js/locationFilter.js')
    script(src='/js/locationSwimlane.js')
    script(src='/js/d3_timeSwimlane.js')
    script(src='/js/timeFilter.js')
    script(src='/js/materialize.js')





  body
    block content
