//
   Created by Maxime on 24/07/2015.

#legend.row Applications
div#help_legend.card.blue-grey.darken-1.help
   div.card-content.white-text
      span.card-title Legend
         i.material-icons info
      p Meanings of coloured line on the activity graph.

script.
   printLegend();


