//Created by Maxime on 20/07/2015.


#screenshotsView
    #previousContext
        div.appName
        img.smallSCS(src="")
    #imageContainer
       #image
          a#fullScreen
             img#bigScreenShot(src="images/tuto.png")

    #nextContext
        div.appName
        img.smallSCS(src="")
        #mainScreenshotInfos

#sliders
    #sliderSVG
        svg.mainSVG
    //#willBeDeleted
    //#appsSwimlanes
    //#timeSwimlane
    //#locationSwimlanes
    //#smallSlider
    #bigSlider


