//
   Created by Maxime on 20/07/2015.


#screenshotsView
    .miniscreenshots
        img.smallSCS(src="")
        img.smallSCS(src="")
        img.smallSCS(src="")
    #imageContainer
       #image
          a#fullScreen
             img#bigScreenShot(src="images/tuto.png")
    .miniscreenshots
        img.smallSCS(src="")
        img.smallSCS(src="")
        img.smallSCS(src="")
#sliders
   #willBeDeleted
   #appsSwimlanes
   #timeSwimlane
   #locationSwimlanes
   #smallSlider
   #bigSlider

