//Created by Maxime on 20/07/2015.


#screenshotsView
    #mainInfosScreenshot
        #mainApp
        #winTitle
        #date
            span
    #previousContext
        img.smallSCS(src="")
        div.appName
            span
    #imageContainer
       #image
          a#fullScreen
             img#bigScreenShot(src="images/tuto.png")

    #nextContext
        img.smallSCS(src="")
        div.appName
        #runningApps

#sliders
    #sliderSVG
        svg.mainSVG
    #bigSlider


