//Created by Maxime on 20/07/2015.


#screenshotsView.row
    div#help_screenshots.card.blue-grey.darken-1.help
        div.card-content.white-text
            span.card-title Screenshots
                i.material-icons info
            p Here, current screenshot. You can also see a screenshot of the previous and the next app used.
    div.boutons-line.row
        #remove.btn-floating.waves-effect.waves-light.red.accent-4.tooltipped(data-position="left", data-tooltip="Remove all indicated data")
            i.material-icons delete

        #settings.btn-floating.waves-effect.waves-light.grey.darken-3.tooltipped.modal-trigger(data-position="bottom", data-tooltip="Settings" data-target="settingsModal")
            i.material-icons settings

        #help.btn-floating.waves-effect.waves-light.green.darken-3.tooltipped(data-position="bottom", data-tooltip="Show help")
            i.material-icons live_help


    #settingsModal.modal
        div.modal-content
            h4 Settings
            div.row
                div.col.s8.offset-s2
                    h6="Choose the .selfspy folder location :"
                    #error
                    ul.collapsible(data-collapsible="accordion")
                        li
                           .collapsible-header
                               i.small.material-icons
                                |info
                               |Tips
                           .collapsible-body
                               p
                                   | The usually location is /Users/YOU/.selfspy <br />
                                   | To find the .selfspy, folder, you need to activate hidden folders visualisation :<br />
                                   | In the dialog box press " cmd + shift + . "<br />
                                   | Then reload your current location.<br />
                                   | Choose the .selfspy folder, not any subfolder. <br />
                    br
                    .input-field
                        input#filePath(type="text", placeholder="Please enter you .selfspy folder location")
                        label(for='filePath') Folder path
                    .input-field
                        input#getFile(type="file", webkitdirectory directory)
                    .right-align
                        button.btn.waves-effect.waves-light#submitNewPath(type="submit", name="action") Submit


        div.modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") Close

    #previousContext.col.s3
        img.smallSCS(src="").row
        div.appName

    div#mainContext.card.col.s6.hoverable
        div.card-image.waves-effect.waves-block.waves-light.center-align
            img#bigScreenShot(src="images/tuto.png").materialboxed
        div.card-content(style="display : none;")
            span.card-title.activator.grey-text.text-darken-4
                i.material-icons.right more_vert
                #date
                    span
                p#mainAppName.truncate
        div.card-reveal
            span.card-title.grey-text.text-darken-4
                i.material-icons.right close
            #windowTitle
            #runningApps

    #nextContext.col.s3
        img.smallSCS(src="")
        div.appName

    a#removeRange.waves-effect.waves-light.btn.red.darken-4 Remove range data

#sliders.row
    #sliderSVG.row
        svg.mainSVG
    #bigSlider.row
#edrthiujoedrftyguhi(style="position:absolute;top:429px;left:302px;-webkit-user-select:none;-webkit-touch-callout:none;font-size:10px;background:transparent;")
    p="Apps"
#edrthiujoedrftyguhi(style="position:absolute;top:368px;left:302px;-webkit-user-select:none;-webkit-touch-callout:none;font-size:10px;background:transparent;")
    p="Location"
#edrthiujoedrftyguhi(style="position:absolute;top:388px;left:302px;-webkit-user-select:none;-webkit-touch-callout:none;font-size:10px;background:transparent;")
    p="Time"


script.
    $('#getFile').change(function(){
        var path = this.value;
    $('#filePath').val(path);
    });

    //TODO check if it is a good location

    $("#submitNewPath").click(function(){
        var newLoc = $("#filePath").val();
        $.get("/setSelfspyFolderLocation", {path:newLoc}, function(data){
            if(data.status == "ko"){
                $("#error").attr("class", "card-panel red accent-4")
                        .text("PLease verify your folder location. Error : " + data.error.code);
                return;

            }
            localStorage.setItem("SELFSPY_PATH", newLoc);
            $("#error").attr("class", "card-panel light-green lighten-2")
                    .text("New Path successfully added. The app will restart.");
            setTimeout(function () {
                document.location.href = "http://localhost:2323/";
            }, 4000);
        });

    });

div#help_smallSlider.card.blue-grey.darken-1.help
    div.card-content.white-text
        span.card-title Small Slider
            i.material-icons info
        p Here, you can navigate inside the current date range and see the related screenshot and get informations about it.

div#help_bigSlider.card.blue-grey.darken-1.help
    div.card-content.white-text
        span.card-title Big Slider
            i.material-icons info
        p All recorded days. Just choose a range.