//Created by Maxime on 20/07/2015.


#screenshotsView.row
    #date.row
            span
    #previousContext.col.s3
        img.smallSCS(src="").row
        div.appName

    div#mainContext.card.col.s6.hoverable
        div.card-image.waves-effect.waves-block.waves-light.center-align
            img#bigScreenShot(src="images/tuto.png").materialboxed
        div.card-content(style="display : none;")
            span.card-title.activator.grey-text.text-darken-4
                i.material-icons.right more_vert
                p#mainAppName
        div.card-reveal
            span.card-title.grey-text.text-darken-4
                i.material-icons.right close
            #windowTitle
            #runningApps

    #nextContext.col.s3
        img.smallSCS(src="")
        div.appName

#sliders.row
    #sliderSVG.row
        svg.mainSVG
    #bigSlider.row
#edrthiujoedrftyguhi(style="position:absolute;top:429px;left:302px;-webkit-user-select:none;-webkit-touch-callout:none;font-size:10px;background:transparent;")
    p="Apps"
#edrthiujoedrftyguhi(style="position:absolute;top:368px;left:302px;-webkit-user-select:none;-webkit-touch-callout:none;font-size:10px;background:transparent;")
    p="Location"
#edrthiujoedrftyguhi(style="position:absolute;top:388px;left:302px;-webkit-user-select:none;-webkit-touch-callout:none;font-size:10px;background:transparent;")
    p="Time"

