//Created by Maxime on 20/07/2015.


#screenshotsView.row
    #date.row
            span
    #previousContext.col.s3
        img.smallSCS(src="").row
        div.appName
            span

    div.card.col.s6
        div.card-image.waves-effect.waves-block.waves-light
            img.materialboxed#bigScreenShot(src="images/tuto.png")
        div.card-content(style="display : none;")
            span.card-title.activator.grey-text.text-darken-4
                i.material-icons.right more_vert
                p#mainAppName
        div.card-reveal
            span.card-title.grey-text.text-darken-4
                i.material-icons.right close
            #screenshotInfos
            #runningApps

    #nextContext.col.s3
        img.smallSCS(src="")
        div.appName
        #runningApps(style="display: none")

#sliders.row
    #sliderSVG.row
        svg.mainSVG
    #bigSlider.row


