/* Apps filter */
#accordion [type="checkbox"] + label:before {
    content: '';
    width: 12px;
    height: 12px;
    margin-top: 7px;
}

#accordion [type="checkbox"]:checked + label:before {
    width: 10px;
    height: 15px;
}

/* Unauthorized app */

button#addAppButton {
    float: right;
    height: 25px;
    line-height: 25px;
}

div#formAddApp {
    height: 20px;
}

input#appName {
    height: 100%;
}