#locName
{
    width:100%;
    margin: 0;
    height: 100%;
}
#addLocButton
{
    float: right;
}
#inputNameDivLoc
{
    overflow:hidden;
    margin-top: 3px;
}
#locList
{
    height:100px;
    overflow-y : auto;
    width:100%;
    margin-top: 33px;
}

#locList ul{
    width:100%;
}

.deleteLocButton{
    float:right;
    width : 19px;
    height: 14px;

}

/* Authorized location */

#addLocButton {
    float: right;
    height: 25px;
    line-height: 25px;
}
