/* GLOBAL */
div#rightPanel {
    height: 100%;
    background: #e0e0e0;
    position: relative;
}

div#leftPanel {
    height: 100%;
    background: #424242;
    padding: 0;
}

div#content {
    height: 600px;
    margin: 0;
    overflow: hidden;
}

/* ACCORDION */

#accordion {
    height: 75%;
    margin-bottom: 5px;
}

#accordion .collapsible-body {
    background: #fff;
    height: 100px;
    padding: 5px;
    overflow-y: auto;
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;
}

.card-panel.hoverable {
    padding: 1px;
}

#accordion h4 {
    margin: 0;
    font-size: 15px;
    padding-left: 11px;
}

#accordion .collapsible-header {
    height: 35px;
    line-height: 35px;
}

#accordion i.material-icons.tiny {
    height: 10px;
    line-height: 35px;
}

/* RIGHT PANEL */
div#screenshotsView {
    height: 55%;
    margin-bottom: 0;
    position: relative;
}

div#sliders {
    height: 55%;
    margin-bottom: 0;
}

/* HELP */
.help {
    display: none;
}

.card.blue-grey.darken-1.help {
    font-size: 10px;
    position: absolute;
    z-index: 9999999;
    width: 150px;
}

div#help_filter {
    left: 180px;
    top: 0;
}

.card.help .card-content .card-title {
    font-size: 13px;
    line-height: 23px !important;
}

.help i.material-icons {
    position: absolute;
    top: 5px;
    right: 5px;
}

.help .card-content.white-text {
    padding: 5px;
}

div#help_parameters {
    left: 195px;
    top: 227px;
}

div#help_legend {
    bottom: 72px;
}

div#help_smallSlider {
    bottom: 161px;
    height: 71px;
    width: 241px;
    right: 0;
}

div#help_bigSlider {
    bottom: 19px;
    height: 45px;
    width: 194px;
}

#screenshotsView div#help_screenshots {
    height: 80px;
    width: 266px;
    top: 50px;
    right: 44px;
}
