/* GLOBAL */

.content {
    height: 100%;
    margin-bottom: 0px;

}

div#rightPanel {
    height: 100%;
    background: #e0e0e0;
    paddding: 5px;
}

div#leftPanel {
    height: 100%;
    background: #424242;
    padding: 0;
}

div#content {
    height: 600px;
    margin: 0;
    overflow: hidden;
}

/* ACCORDION */

#accordion {
    height: 75%;
    margin-bottom: 5px;
}

#accordion .collapsible-body {
    background: #fff;
    height: 100px;
    padding: 5px;
    overflow-y: scroll;
    font-size: 12px;
    padding-left: 15px;
}

/* RIGHT PANEL */
div#screenshotsView {
    height: 55%;
    margin-bottom: 0;
}

div#sliders {
    height: 55%;
    margin-bottom: 0;
}






