/* GLOBAL */

.content {
    height: 100%;
    margin-bottom: 0px;

}

div#rightPanel {
    height: 100%;
    background: #e0e0e0;
    paddding: 5px;
}

h4.span {
    font-size: 15px;
}

div#leftPanel {
    height: 100%;
    background: #424242;
    padding: 0;
}

div#content {
    height: 600px;
    margin: 0;
    overflow: hidden;
}

/* ACCORDION */

#accordion {
    height: 75%;
    margin-bottom: 5px;
}

#accordion .collapsible-body {
    background: #fff;
    height: 100px;
    padding: 5px;
    overflow-y: auto;
    font-size: 12px;
    padding-left: 15px;
}

.card-panel.hoverable {
    padding: 1px;
}

#accordion h4 {
    margin: 0;
    font-size: 15px;
    padding-left: 11px;
}

#accordion .collapsible-header {
    height: 35px;
    line-height: 35px;
}

#accordion i.material-icons.tiny {
    height: 10px;
    line-height: 35px;
}
/* RIGHT PANEL */
div#screenshotsView {
    height: 55%;
    margin-bottom: 0;
}

div#sliders {
    height: 55%;
    margin-bottom: 0;
}

.superGrilledToast{
    z-index: 999999999;
}




