#bigSlider {
    margin: 0;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

#smallSlider {
    width:100%;
}

#bigScreenShot {
    width: 560px;
    height: 365px;
}

#image {
    width:100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#imageContainer {
    width:auto;
    height: 365px;
    display: inline-block;
}

#sliders {
    position:fixed;
    bottom:0;
    right:0;
}

#screenshotsView{
    width: 100%;
}
.miniscreenshots{
    width:20%;
    height:365px;
    display:inline-block;
}


.miniscreenshots img{
    width:100%;
    height:33%;
}