/* CONTEXT */
div#previousContext {
    cursor: pointer;
}

div#previousContext:hover {
    cursor: pointer;
}

div#nextContext {
    height: 100%;
    position: relative;
}

div#nextContext:hover {
    cursor: pointer;
}

img.smallSCS {
    width: 100%;
    margin-top: 65px;
    height: 60%;
    margin-bottom: 5px;
}

.appName {
    text-align: center;
}

/* MAIN SCREENSHOT */

#screenshotsView .card {
    height: 91%;
    margin: 0;
    padding: 0;
    overflow: visible;
}

#screenshotsView .card .card-content {
    height: 24%;
    position: relative;
    margin-top: 9px;
}

div#date {
    height: 5%;
    margin-bottom: 10px;
    right: 28px;
    font-size: 13px;
    position: absolute;
    top: -13px;
    font-weight: bolder;
}

p#mainAppName {
    font-size: 13px;
    line-height: 15px;
    width: 90%;
    font-weight: bold;
}

a#fullScreen {
    width: 100%;
    height: 100%;
}

#screenshotsView .card-image {
    height: 73%;
    width: 100%;
    z-index: 1000;
    overflow: visible;
}


#screenshotsView .card .card-reveal {
    z-index: 10000;
    font-size: 12px;
}

#mainAppName span {
    font-weight: normal;
}

div#imageContainer {
    height: 100%;
    border: 5px solid rgba(12, 12, 12, 0.8);
    padding: 0;
}

img#bigScreenShot {
    height: 100%;
    width: 100%;
    max-height: 264px;
}

img#bigScreenShot.materialboxed.intialized.active {
    max-height: none;
}

/* TOP NAV */
.boutons-line.row {
    margin: 0;
    padding: 2px;
    text-align: right;
}

.boutons-line .btn-floating {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.boutons-line .btn-floating i.material-icons {
    line-height: 20px;
    font-size: 22px;
}

/* SLIDERS */
div#sliderSVG {
    margin-bottom: 5px;
    height: 50%;
}

div#bigSlider {
    height: 30%;
    margin-top: 25px;
}


.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}


#sliders .arrow.col.s1 {
    line-height: 231px;
    font-size: 45px;
    color: #424242;
    padding: 6px;
    width: 32px;
}

#sliders .arrow.col.s1:hover {
    color: #FFFFFF;
    cursor: pointer;
}

#sliders  .col.s11 {
    padding: 0;
}

div#slidersLegend {
    position: absolute;
    bottom: 258px;
    left: 44px;
}


/* Modal */
div#helpModal {
    z-index: 10000;
    width: 80%;
    overflow: hidden;
}

div#settingsModal {
    z-index: 10000;
    width: 80%;
    overflow: hidden;
}

#helpModal img {
    width: 54%;
}

#helpModal .modal-content {
    padding: 10px;
    text-align: center;
}

#helpModal h4 {
    margin: 0px;
    text-align: left;
    font-size: 20px;
}

#helpModal .modal-footer {
    height: 20px;
}


a#removeRange {
    position: absolute;
    float: right;
    height: 20px;
    width: 125px;
    font-size: 10px;
    padding: 1px;
    line-height: 20px;
    bottom: 0;
    right: 0;
}